/**
 * {Tag} PN Custom
 *  - css file for popup modal
 */

/* Styles for dialog window */
#pn-no-script{
    width:95%;
    margin:5px auto;
    position: relative;
    padding: 20px 30px;
    text-align: center;
}
#pn-link-modal{
    /*border-top: 5px solid #9b59b6;*/
    border-radius: 5px;
	background: white;
	padding: 20px 30px;
	text-align: center;
	/*max-width: 400px;*/
    width: 95%;
	margin: 40px auto;
	position: relative;
}
#pn-link-modal img.logo,#pn-no-script img.logo{
    margin: 10px auto;
    width: 40%;
    height: auto;
}
.pn-link-modal-title{
    color: #999;
}
/*.pn-link-modal-title strong{
    color: #333;
}*/
.pn-link-btn{
    background: #9b59b6;
    width: 80%;
    text-align:center;
    border-radius: 4px;
}
/*#pn-link-modal h3{
    margin-top: 0;
}*/


.pn-modal{
    /*border-top: 5px solid #9b59b6;*/
    position: relative;
    border-radius: 5px;
    background: white;
    padding: 20px 30px;
    text-align: center;
    /*max-width: 400px;*/
    width: 40%;
    margin: 40px auto;
}

.pn-link-btn-yes {
    background: #9b59b6;
    /*width: 80%;*/
    width: 100%;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    height: 46px;
    color: white;
}


.pn-link-btn-no {
    background: #f8fff9;
    color: #9E9E9E !important;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    height: 46px;
    font-size: 20px;
    line-height: 35px;
}

.pn-price-tracker-modal-title {
    color: #373737;
    font-size: 2.5em;
    margin-bottom: 2px;
}

.pn-price-tracker-modal-sub-title {
    font-size: 0.9em;
    color: #9b59b6;
}

.pn-price-tracker-modal-product-name {
    color: #373737;
    font-size: 1.5em;
    font-weight: bolder;
}

.pn-price-tracker-modal-description{
    color: #373737;
    font-size: 1.4em;
    font-weight: normal;
}

.input-email-price-tracking{
    width: 75%;
    text-align: center;
    height: 20px;
    padding: 12px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pn-price-tracker-modal-thankyou {
    color: #9b59b6;
    font-size: 3em;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .pn-modal{
        width: 90%;
    }

    .input-email-price-tracking{
        width: 73%;
    }
}


#pn-price-tracking-modal p{
    margin: 0 0 1em;
}

#pn-price-tracking-modal h3 {
    margin: 0.6em 0 .3em;
    line-height: 0.1;
}


